evdev>=1.6.0
gTTS>=2.3.1
google-cloud-texttospeech>=2.14.1
google-cloud-monitoring>=2.14.1
sounddevice>=0.4.6
soundfile>=0.12.1
numpy>=1.22.0
pydub>=0.25.1
setuptools>=44.0.0
sentry-sdk>=1.40.1
python-vlc>=3.0.20000
pyudev>=0.24.1
psutil>=5.9.0
python-magic==0.4.27
py-espeak-ng>=0.1.7